<div class="feeds discover multiply">
	<div class="blogs">
		<h1 class="section">Trending blogs</h1>
		<ul class="activity-feed">
			<%= render partial: 'partials/discover_blog', collection: @blogs %>
		</ul>
	</div>
</div>
