<div class="feeds discover">
	<div class="posts fun">
		<h1 class="section">Trending posts <%= link_to "View More", discover_posts_path %></h1>
		<ul class="activity-feed">
			<%= render partial: 'partials/post', collection: @feed  %>
		</ul>
	</div>

	<div class="others">
		<div class="blogs fun">
			<h1 class="section">Popular Blogs <%= link_to "View More", discover_blogs_path %></h1>
			<ul>
				<%= render partial: 'partials/discover_blog', collection: @blogs %>
			</ul>
		</div>

		<div class="users">
			<h1 class="section">Find Friends <%= link_to "View More", discover_users_path %></h1>
			<div>
				<%= render partial: 'partials/user', collection: @users, locals: { classes: 'mini' } %>
			</div>
		</div>

		<div class="tags">
			<h1 class="section">Trending Tags <%= link_to "View More", discover_tags_path %></h1>
			<ul>
				<%= render partial: 'partials/tag', collection: @tags %>
			</ul>
		</div>

	</div>
</div>
