<div class="feeds home">
	<ul class="activity-feed" data-infinity="true">
		<% if @feed.empty? %>
			<h1>Welcome Aboard!</h1>
			<p>Get started by <%= link_to 'discovering', discover_path %> blogs and users to follow.</p>
		<% end %>

		<% @feed.each do |post| %>
			<%= render_activity(post, locals: { user: current_user }) %>
		<% end %>

		<%= will_paginate @feed %>
	</ul>

	<div class="sidebar">
		<div class="blogs">
			<header>
				<h1>Following</h1> <%= link_to 'Manage', user_blogs_path %>
			</header>

			<ul class="following__tags__">
				<% if @blogs.empty?  %>
					<h3>You aren't following any blogs.</h3>
					<p>Try <%= link_to 'discovering', discover_path %> new blogs.</p>
				<% end %>

				<% @blogs.each do |blog| %>
					<li data-id="<%= blog.id %>">
            <%= link_to blog.title, visit_blog_path(blog) %>
            <span style="display: none;">New</span>
					</li>
				<% end %>
			</ul>
		</div>

		<%= render 'partials/footer' %>
	</div>
</div>
