<div class="feeds discover multiply">
	<div class="posts">
		<h1 class="section">Trending posts</h1>
		<ul class="activity-feed">
			<%= render partial: 'partials/post', collection: @feed  %>
		</ul>
	</div>
</div>
