<div class="search-results">
	<h1>Search Results</h1>

	<% if @posts.empty? && @blogs.empty? && @users.empty? %>
		<p>No results were found for "<%= params[:query] %>"</p>
	<% end -%>

	<% unless @posts.empty? %>
	<div class="posts">
		<h2>Posts</h2>
		<ul class="activity-feed">
			<%= render partial: 'partials/post', collection: @posts %>
		</ul>
	</div>
	<% end -%>

	<div class="sidebar">
		<% unless @blogs.empty? %>
		<h2>Blogs</h2>
		<ul class="blogs-feed">
			<%= render partial: 'partials/discover_blog', collection: @blogs %>

		</ul>
		<% end %>

		<% unless @users.empty? %>
		<h2>Users</h2>
		<div>
			<%= render partial: 'partials/user', collection: @users, locals: { classes: 'mini' }  %>
		</div>
		<% end -%>
	</div>
</div>
