<div class="feeds discover users">
	<h1 class="section">Popular Users</h1>
	<div class="bro">
		<%= render partial: 'partials/user', collection: @users, locals: { classes: 'vertical' } %>
	</div>
</div>
