<% if @url != false && @og[:type] != 'error' %>
window.shareTool.expand(
	'<%= j truncate(@og[:title], length: 82) %>',
	'<%= j truncate(@og[:description], length: 330) %>',
	[
		<% @og[:images].each do |image| %>
			'<%= image["url"] %>',
		<% end %>
	]
);
<% else %>
window.shareTool.resetForm(true);
<% end %>
