<li data-id="<%= discover_blog.id %>">
	<div class="title">
		<%= link_to discover_blog.title, visit_blog_path(discover_blog) %>

		<span>
			<%= image_tag 'users.png' %> <%= content_tag :span, discover_blog.followers_count, 'data-blog-followers': discover_blog.id %>

			<% display_updates ||= false %>
      <% if display_updates %>
			  <span style="display: none;" class="status">New</span>
      <% end -%>
		</span>

	</div>


	<div class="actions">
		<%= render 'partials/follow_button', locals: { subject: discover_blog, classes: 'btn small' } %>
	</div>
</li>
