<% subject = locals[:subject] %>
<%= link_to conditional_label(current_user.follows?(subject), 'Following', 'Follow'), 
	send("follow_#{subject.class.to_s.underscore}_path", subject), 
	class: "btn #{locals[:classes]} #{'on' if current_user.follows?(subject)}", 
	remote: true, 
	"data-#{subject.class.to_s.underscore}": subject.id 
%>