<header id="top" class="<%= local_assigns.fetch :classes, '' %>">
	<div class="logo">
		<%= link_to root_path  do %>
			<%= image_tag 'logo.png' %>
		<% end -%>
	</div>

	<% unless current_user.nil? %>

	<%= form_tag(search_path, method: 'get', class: 'search') do %>
		<input type="text" name="query" id="query" placeholder="Search on Blogular (tags, people, blogs)" value="<%= params[:query] %>">
	<% end -%>

	<div class="tools">
		<%= link_to discover_path, class: 'discover' do %>
			<%= image_tag 'discover.png' %> <span>Discover</span>
		<% end %>

		<button class="btn share" data-shareTool>Share</button>

		<button class="btn notifications <%= conditional_label(@notifications.where(read: false).exists?, 'has', '') %>">
			<% unless @notifications.where(read: false).exists? %>
				<%= image_tag 'notifications-off.png' %>
			<% else  %>
				<%= image_tag 'notifications-on.png' %>
				<span><%= @notifications.where(read: false).count %></span>
			<% end -%>

		</button>

		<span class="profile" data-dropdown="profile-menu">
			<%= image_tag current_user.profile.avatar.url(:thumb) %></button>
		</span>

		<ul id="profile-menu" class="profile-menu">
			<li>
				<%= link_to 'Profile', current_user %>
			</li>
			<li>
				<%= link_to 'Edit Profile', edit_user_profile_path %>
			</li>
			<li>
				<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			</li>
		</ul>

		<ul class="notifications">
			<% if @notifications.empty? %>
				<li>You have no notifications.</li>
			<% end -%>

			<% @notifications.each do |notification| %>
				<%= render_activity(notification, locals: { user: current_user }) %>
			<% end %>
		</ul>
	</div>
	<% end -%>
</header>
