<div class="modal share" data-modal="shareTool">
	<%= form_tag(share_path, remote: true) do %>
		<input type="text" name="url" placeholder="Paste URL here to Share">
		<%= image_tag 'spinner.gif', class: 'spinner' %>

		<div class="preview">
			<img data-modal-image>

			<div class="content">
				<h1 data-modal-title></h1>
				<p data-modal-description></p>
			</div>

			<div class="options">
				<div class="left">
					<input type="text" name="tags" placeholder="Comma-separated tags">

					<label>
						Follow blog <input type="checkbox" name="follow">
					</label>
				</div>

				<div class="right">
					<button class="btn small" data-modal-approve data-disable-with="Sharing...">
						Share
					</button>

					<button class="btn small red" data-modal-cancel>
						Cancel
					</button>
				</div>
			</div>
		</div>
	<% end %>

	<div class="success">
		<h1>Your post was shared successfully.</h1>
	</div>

</div>

<div data-overlay class="overlay"></div>
