<li class="activity-link" data-activity="link" data-image="<%= post.image.url(:large) %>" data-post-id="<%= post.id %>">
	<header>
		<div>
			<b><%= link_to post.user.profile.username, user_path(post.user) %></b> shared
		</div>

		<time title="<%= post.created_at %>" datetime="<%= post.created_at %>"><%= time_ago_in_words post.created_at %> ago</time>
	</header>

	<h1><%= link_to post_visit_path(post) do %>
    <%= post.title ? post.title : (post.blog && post.blog.title ? post.blog.title : "Untitled") %>
  <% end %>
  </h1>
	<ul class="actions">
		<li>
			<%= link_to like_post_path(post), remote: true, class: "like #{'liked' if current_user.likes?(post)}" do %>
				<span><%= post.likers_count %></span>
			<% end %>
		</li>

		<li>
			<%= link_to post_path(post), class: 'comment' do %>
				<span><%= post.comments.count %></span>
			<% end -%>
		</li>
	</ul>
</li>