<% comment = locals[:comment] %>

<li id="comment-<%= comment.id %>">
	<%= link_to comment.user do %>
	<%= image_tag comment.user.profile.avatar(:thumb) %>
	<% end -%>
	<div>
		<h2><%= link_to comment.user.profile.name, comment.user %></h2>
		<p><%= raw linkify(comment.comment) %></p>
		<footer>
			<time title="<%= comment.created_at %>" datetime="<%= comment.created_at %>"><%= time_ago_in_words comment.created_at %> ago</time>
		</footer>
	</div>
</li>
