<div class="user-pill <%= "#{classes}" if defined?(classes) %>">
	<div class="image">
		<%= link_to user do %>
			<%= image_tag user.profile.avatar.url(:medium) %>
		<% end -%>
	</div>
	<div class="info">
		<h1>
			<%= link_to user do %>
				@<%= user.profile.username %>
			<% end %>
		</h1>

		<p>
			<%= truncate user.profile.bio %>
		</p>

		<div>
			<% if current_user.profile.id != user.id %>
				<%= render 'partials/follow_button', locals: { subject: user, classes: 'small' } %>
			<% end -%>
		</div>
	</div>
</div>
