<li class="activity-link" data-activity="link" data-image="<%= activity.recipient.image.url(:large) %>" data-post-id="<%= activity.recipient.id %>">
	<header>
		<div>
			<b>
				<%= link_to activity.trackable do %>
					<%= activity.trackable.profile.username %>
				<% end -%>
			</b> shared
		</div>

		<time title="<%= activity.recipient.created_at %>" datetime="<%= activity.recipient.created_at %>"><%= time_ago_in_words activity.recipient.created_at %> ago</time>
	</header>

	<h1>
		<%= link_to post_visit_path(activity.recipient) do %>
			<%= activity.recipient.blog && activity.recipient.blog.title ? activity.recipient.blog.title : activity.recipient.title %>
		<% end %>
	</h1>

	<ul class="actions">
		<li>
			<%= link_to like_post_path(activity.recipient), remote: true, class: "like #{'liked' if user.likes?(activity.recipient)}" do %>
				<span><%= activity.recipient.likers_count %></span>
			<% end %>
		</li>

		<li>
			<%= link_to post_path(activity.recipient), class: 'comment' do %>
				<span><%= activity.recipient.comments_count %></span>
			<% end -%>
		</li>
	</ul>
</li>