<% if @liked %>
	$('[data-post-id="<%= @post.id %>"] .actions .like').addClass('liked').find('span').text('<%= @post.likers_count + 1 %>');
<% else %>
	$('[data-post-id="<%= @post.id %>"] .actions .like').removeClass('liked').find('span').text('<%= @post.likers_count - 1 %>');
<% end %>

$('[data-label-update="<%= @post.id %>"]').text('<%= conditional_label(@liked, 'Liked', 'Like') %>');