<div class="post" data-post>
	<div class="user">
		<%= link_to @post.user do %>
			<%= image_tag @post.user.profile.avatar(:thumb) %>
		<% end %>
	</div>

	<header class="<%= 'collapsed' unless @post.image.present? %>" style="background-image: url(<%= @post.image.url(:large) %>)" data-post-id="<%= @post.id %>">
		<div>
			<b><%= link_to @post.user.profile.name, @post.user %></b> shared
		</div>

		<time title="<%= @post.created_at %>" datetime="<%= @post.created_at %>"><%= time_ago_in_words @post.created_at %> ago</time>

		<h1><%= link_to @post.title, post_visit_path(@post) %></h1>

		<ul class="actions">
			<li>
				<%= link_to like_post_path(@post), remote: true, class: "like #{'liked' if current_user.likes?(@post)}" do %>
					<span><%= @post.likers_count %></span>
 				<% end %>
			</li>
		</ul>
	</header>

	<% unless @post.blog.nil? %>
	<div class="sidebar">
		<div class="blog">
			<header>
				<div class="status">
					Posted on
				</div>
				<h1><%= link_to @post.blog.title, @post.blog %></h1>
				<%= render 'partials/follow_button', locals: { subject: @post.blog } %>
			</header>
		</div>
		<%= render 'partials/footer' %>
	</div>
	<% end %>

	<div class="comments">
		<header>
			<h1>Comments</h1>
		</header>

		<%= form_tag post_comment_path(@post), remote: true do %>
			<%= text_area_tag 'comment', nil, rows: 1, placeholder: 'Comment or tag someone on this post', 'data-mentionable': 'true'  %>
			<%= submit_tag 'Post comment', class: 'btn solid small' %>
			<div class="mentions"></div>
		<% end -%>

		<ul id="comments">
			<% @post.comments.recent.limit(10).all.each do |comment| %>
				<%= render 'partials/single_comment', locals: { comment: comment }  %>
			<% end %>
		</ul>
	</div>
</div>

<script>
	$('[data-post] [data-mentionable]').atwho({
		at: '@',
		data: '<%= mentionables_path %>',
		insertTpl: '@${username}',
		displayTpl: '<li data-id="${id}"><span>${username}</span></li>',
		callbacks: {
			beforeInsert: function(value, $li) {
				var user_id = $li.data('id');
				var mention = $('<input type="hidden" multiple="multiple" name="mentions[]" value="' + user_id + '"/>');
				$('form .mentions').append(mention);
				return value;
			}
		}
	});
</script>
