<!DOCTYPE html>
<html>
<head>
	<title>Blogular</title>
	<link rel="icon" type="image/png" href="<%= image_path 'favicon.png' %>" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="visit_frame">
	<header id="top" data-post-id="<%= @post.id %>">
		<div class="logo">
			<%= link_to root_path  do %>
				<%= image_tag 'logo.png' %>
			<% end -%>
		</div>

		<div class="tools actions">
			<%= link_to 'Comment', @post, class: 'btn' %>
			<%= link_to conditional_label(current_user.likes?(@post), 'Liked', 'Like'), like_post_path(@post), remote: true, class: "btn red like #{'liked' if current_user.likes?(@post)}", 'data-label-update': @post.id %>

			<% unless @post.blog.nil? %>
			<%= render 'partials/follow_button', locals: { subject: @post.blog } %>
			<% end -%>
		</div>
	</header>

  <%= @redirect %>

	<iframe src="<%= @post.url %>" frameborder="0" id="render"></iframe>

</body>
</html>