<div class="user-profile">
	<div class="info">
		<%= image_tag @profile.avatar.url(:medium), class: 'profile-img' %>
		<%= content_tag :h1, @profile.name %>
		<%= content_tag :h2, '@' + @profile.username unless @profile.username.nil? %>
		<%= content_tag :p, @profile.bio %>

		<ul>
			<% if @profile.location.present? %>
			<li><%= image_tag 'location.png' %> <%= @profile.location %></li>
			<% end -%>

			<% if @profile.website.present? %>
			<li><%= image_tag 'website.png' %> <%= link_to truncate(@profile.website, length: 25), @profile.website %></li>
			<% end -%>
		</ul>

		<div class="follow">
			<% if current_user.profile.id != @profile.id %>
				<%= render 'partials/follow_button', locals: { subject: @user } %>
			<% end -%>
		</div>
	</div>

	<div class="feed">
		<ul class="nav">
			<li>
				<%= link_to_unless_current('Posts', { action: 'profile' }) %>
			</li>

			<li>
				<%= link_to_unless_current('Friends', { action: 'friends' }) %>
			</li>

			<li>
				<%= link_to_unless_current('Following', { action: 'blogs' }) %>
			</li>

			<% if current_user.profile.id == @profile.id %>
			<li>
				<%= link_to_unless_current('Likes', { action: 'likes' }) %>
			</li>
			<% end -%>
		</ul>

		<%= yield %>

	</div>
</div>
