<%= render layout: 'feed' do %>
	<ul class="blogs-feed blog__tags__">
		<% if @blogs.empty?  && current_user.profile.id == @profile.id %>
		<h1>You aren't following any blogs.</h1>
		<p> <%= link_to 'Find', discover_path %> some to follow!</p>
		<% end %>

		<%= render partial: 'partials/discover_blog', collection: @blogs, locals: { display_updates: current_user.profile.id == @profile.id } %>
	</ul>
<% end -%>
