<div class="edit-profile">
	<%= form_for @profile, url: edit_user_profile_path, html: { multipart: true } do |f| %>		
		<label>
			<%= image_tag @profile.avatar.url(:thumb) %>
			<%= f.file_field :avatar %>
		</label>

		<label>
			Name: <%= f.text_field :name, placeholder: 'John Smith' %>
		</label>

		<label class="<%= 'error' if @profile.errors[:username] %>">
			Username: <%= f.text_field :username, placeholder: 'jSmith' %>
		</label>

		<label>
			Website: <%= f.text_field :website, placeholder: 'http://www.martianwabbit.com' %>
		</label>

		<label>
			Location: <%= f.text_field :location, placeholder: 'Honduras' %>
		</label>

		<label>
			Bio: <%= f.text_area :bio %>
		</label>

		<div class="options">
			<%= f.submit class: 'btn' %>
			<%= link_to 'Cancel', user_profile_path, class:'cancel' %>
		</div>
	<% end %>
</div>