<%= render layout: 'feed' do %>
	 <ul class="activity-feed friends">
 		<% if @friends.empty? && current_user.profile.id == @profile.id %>
		<h1>You have no connections.</h1>
		<p> <%= link_to 'Find', discover_path %> some users to follow!</p>
		<% end %>

		<% @friends.each do |user| %>
		<li class="friend">
			<%= render partial: 'partials/user', locals: { user: user } %>
		</li>
		<% end %>
	</ul>
<% end -%>
