<%= render layout: 'feed' do %>
	<ul class="activity-feed" data-infinity="true">
		<% if @likes.empty? %>
		<h1>You haven't liked any posts.</h1>
		<p>Try liking some from your favorite blogs!</p>
		<% end %>

		<%= render partial: 'partials/post', collection: @likes  %>

		<%= will_paginate @likes %>
	</ul>
<% end -%>