<div class="flash success" data-sticky>
 <p>Welcome to Blogular! To begin, we need some basic information.</p>
</div>

<div class="edit-profile">
	<%= form_for @profile, url: onboarding_path, html: { multipart: true } do |f| %>		
		<label>
			<%= image_tag @profile.avatar.url(:thumb) %>
			<%= f.file_field :avatar %>
		</label>

		<label>
			Name: <%= f.text_field :name, placeholder: 'John Smith' %>
			<ul>
			<% @profile.errors[:name].each do |error| %>
				<li><%= error %></li>
			<% end -%>
			</ul>
		</label>

		<label>
			Username: <%= f.text_field :username, placeholder: 'jSmith' %>
			<ul>
			<% @profile.errors[:username].each do |error| %>
				<li><%= error %></li>
			<% end -%>
			</ul>
		</label>

		<div class="options center">
			<%= f.submit class: 'btn', value: 'Save Profile' %>
		</div>
	<% end %>
</div>