<%= render layout: 'feed' do %>
	<ul class="activity-feed" data-infinity="true">
		<% if @posts.empty? && current_user.profile.id == @profile.id %>
		<h1>You have no posts.</h1>
		<p>Try sharing some from your favorite blogs!</p>
		<% end %>

		<%= render partial: 'partials/post', collection: @posts  %>

		<%= will_paginate @posts %>
	</ul>
<% end -%>
