$(function() {
	$(document).on('page:update', () => {
		var setup = function() {
			$('#top .btn.notifications').on('click.notifications', function() {
				let button = $(this);
				let notifications = $('ul.notifications');

				notifications.show();

				$.post('<%= Blogular::Application.routes.url_helpers.read_notifications_path %>');


				$('#top .btn.notifications').off('click.notifications')
					.on('click.notifications', function() {
						notifications.hide();
						$('body').off('click.notifications');
						setup();
					});

				$('body').on('click.notifications', function(e) {
					if ($(e.target).parents('.btn.notifications').length === 0) {
						notifications.hide();
						$('body').off('click.notifications');
					}
				});
			});
		};

		setup(); // This is weird.
	});
});