class ShareTool {
	constructor() {
		this.modal = $('[data-modal="shareTool"]').fadeIn();
		this.modal.find('form').show();
		this.overlay = $('[data-overlay]').show();

		this.modal.find('input[name="url"]').focus().on('keyup', (e) => {
      delay(() => {
        let value = $(e.currentTarget).val();

        this.modal.addClass('loading');
        this.modal.find('.preview').fadeOut();

        $.ajax({
          url: '<%= Blogular::Application.routes.url_helpers.scrapper_path %>',
          dataType: 'script',
          data: {
            url: value
          }
        }).done(() => {
          this.modal.removeClass('loading');
        });
      }, 1000);
		});

		this.modal.find('form').on('keypress', (e) => {
			return e.keyCode != 13;
		});

		this.modal.find('[data-modal-cancel]').on('click', () => {
			this.reset();
			return false;
		});

		this.overlay.on('click', () => {
			this.reset();
		});
	}

	reset() {
		this.modal.fadeOut('fast').find('.preview').hide();
		this.modal.find('input').val('').removeAttr('style');
		this.overlay.fadeOut('fast');
		this.modal.find('*').off();
		this.modal.removeClass('loading');
		this.modal.find('.success').fadeOut('fast', () => {
			this.modal.find('form').show();
		});

		delete window.shareTool;
	}

	expand(title, description, images) {
		this.modal.find('[data-modal-title]').text(title);
		this.modal.find('[data-modal-description]').text(description);
		this.modal.find('[data-modal-image]').attr('src', '');
		this.modal.find('[data-modal-image]').attr('src', images[0]);

		this.modal.find('.preview').fadeIn();
		this.modal.find('input').removeAttr('style');
	}

	resetForm(error = false) {
		this.modal.find('.preview').hide();

		if (error) {
			this.modal.find('input').css('border-bottom-color', 'red');
		}
	}

	success() {
		this.modal.find('form').fadeOut(() => {
			this.modal.find('.success').fadeIn();
			setTimeout(() => {
				this.reset();
			}, 1000);
		});
	}

}

var delay = (function(){
  var timer = 0;
  return function(callback, ms){
    clearTimeout (timer);
    timer = setTimeout(callback, ms);
  };
})();

$(function() {
	$(document).on('page:update', () => {
		$('[data-shareTool]').on('click', () => {
			window.shareTool = new ShareTool();
		});
	});
});