<% follower = activity.owner %>
<li>
	<%= link_to user_path(follower) do %>
		<%= follower.profile.name %> started following you!
	<% end %> <%= content_tag :time, time_ago_in_words(activity.created_at) %>
</li>
