<% post = activity.recipient.commentable %>
<% comment = activity.recipient %>
<% mentioner = activity.owner %>
<li>
	<%= link_to post_path(post, anchor: "comment-#{comment.id}") do %>
		<%= mentioner.profile.name %> mentioned you on <%= content_tag :b, post.title %>
	<% end %> <%= content_tag :time, time_ago_in_words(activity.created_at) %>
</li>