<div class="blog container">
	<div class="blog" data-blog="<%= @blog.id %>">
		<h1>
			<%= @blog.title %>
			<%= render 'partials/follow_button', locals: { subject: @blog } %>
		</h1>

		<p> <%= image_tag 'website.png' %><%= link_to @blog.url, visit_blog_path(@blog) %> </p>

		<%= yield %>

	</div>
</div>
