$('.comments ul').prepend($('<%= j render 'partials/single_comment', locals: { comment: @comment }  %>')).hide().fadeIn('slow');
$('.comments textarea').val('');
$('.expanded').removeClass('expanded');
$('.comments .mentions').empty();
