<%= render layout: 'blog' do %>
	<div class="comments">
		<header>
			<h2>Comments</h2>
		</header>

		<%= form_tag blog_comment_path(@blog), remote: true do %>
			<%= text_area_tag 'comment', nil, rows: 1, placeholder: 'Comment on this post', 'data-mentionable': 'true'  %>
			<%= submit_tag 'Post comment', class: 'btn solid small' %>
			<div class="mentions"></div>
		<% end -%>

		<ul id="comments">
			<% @blog.comments.recent.limit(10).all.each do |comment| %>
				<%= render 'partials/single_comment', locals: { comment: comment }  %>
			<% end %>
		</ul>
	</div>

	<script>
	$('[data-blog] [data-mentionable]').atwho({
		at: '@',
		data: '<%= mentionables_path %>',
		insertTpl: '@${username}',
		displayTpl: '<li data-id="${id}"><span>${username}</span></li>',
		callbacks: {
			beforeInsert: function(value, $li) {
				var user_id = $li.data('id');
				var mention = $('<input type="hidden" multiple="multiple" name="mentions[]" value="' + user_id + '"/>');
				$('form .mentions').append(mention);
				return value;
			}
		}
	});
	</script>
<% end -%>
