<% if @following %>
$('a[data-blog="<%= @blog.id %>"]').addClass('on').text('Following');
$('[data-blog-followers="<%= @blog.id %>"]').text('<%= @blog.followers_count + 1 %>');
<% else %>
$('a[data-blog="<%= @blog.id %>"]').removeClass('on').text('Follow');
$('[data-blog-followers="<%= @blog.id %>"]').text('<%= @blog.followers_count - 1 %>');
<% end  %>