<% if @liked %>
	$('[data-blog-id="<%= @blog.id %>"] .actions .like').addClass('liked').find('span').text('<%= @blog.likers_count + 1 %>');
<% else %>
	$('[data-blog-id="<%= @blog.id %>"] .actions .like').removeClass('liked').find('span').text('<%= @blog.likers_count - 1 %>');
<% end %>

$('[data-label-update="<%= @blog.id %>"]').text('<%= conditional_label(@liked, 'Liked', 'Like') %>');
