<%= render layout: 'blog' do %>
	<h2>Posts shared by our users:</h2>

	<ul class="posts activity-feed grid" data-infinity="true">
		<%= render partial: 'partials/post', collection: @posts  %>
		<%= will_paginate @posts %>
	</ul>
<% end -%>
