<!DOCTYPE html>
<html>
<head>
	<title>Blogular</title>
	<link rel="icon" type="image/png" href="<%= image_path 'favicon.png' %>" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="visit_frame">
	<header id="top" data-blog-id="<%= @blog.id %>">
		<div class="logo">
			<%= link_to root_path  do %>
				<%= image_tag 'logo.png' %>
			<% end -%>
		</div>

		<div class="tools actions">
			<%= link_to 'Comment', blog_comments_path(@blog), class: 'btn' %>
			<%= link_to conditional_label(current_user.likes?(@blog), 'Liked', 'Like'), like_blog_path(@blog), remote: true, class: "btn red like #{'liked' if current_user.likes?(@blog)}", 'data-label-update': @blog.id %>

			<% unless @blog.nil? %>
				<%= render 'partials/follow_button', locals: { subject: @blog } %>
			<% end -%>
		</div>
	</header>

	<%= @redirect %>
	<iframe src="<%= @blog.url %>" frameborder="0"  id="render"></iframe>


</body>
</html>
