.activity-feed {
	list-style: none;
	padding: 0;

	.activity-link {
		padding: 1em;
		background: $blue;
		border-radius: $radius;
		margin-bottom: 2em;
		color: white;
	    background-repeat: no-repeat;
		background-size: cover;
		// cursor: pointer;
		position: relative;
		height: 200px;

		&.expanded {
			box-shadow: inset 0 120px 120px rgba(0, 0, 0, 0.4),
						inset 0 -30px 30px rgba(0, 0, 0, 0.4);
		}

		header {
			& > * {
				font-size: 0.96em;
				display: inline-block;
			}

			b {
				font-weight: 700;
			}

			time {
				float: right;
			}
		}

		h1 {
			font-size: 1.1em;
			font-weight: 100;
		}

		header a,
		h1 	a {
			color: white;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.actions {
			list-style: none;
			padding: 0;
			text-align: right;
			margin-top: 2em;
			position: absolute;
			bottom: 10px;
			left: 0;
			right: 15px;

			a {
				outline: none;
				color: white;
				text-decoration: none;

				span:before {
					background-repeat: no-repeat;
					background-size: contain;
					content: '';
					display: inline-block;
					height: 16px;
					margin-right: 0.5em;
					vertical-align: middle;
					width: 16px;
				}

				&.like span:before {
					background-image: url(image-path('like.png'));
				}

				&.like span:hover:before,
				&.like.liked span:before {
					background-image: url(image-path('like-full.png'));
				}

				&.comment span:before {
					background-image: url(image-path('comment.png'));
				}
			}

			li {
				display: inline-block;
				margin-left: 1em;
			}

			img {
				height: 16px;
				margin-right: 5px;
				vertical-align: middle;
			}
		}
	}
}
