@import 'normalize';
@import 'bourbon';
@import 'neat';
@import 'variables';
@import 'flash';
@import 'buttons';
@import 'feed';
@import 'header';
@import 'modals';
@import 'profile';
@import 'activities';
@import 'forms';
@import 'user_pill';
@import 'post';
@import 'blog';
@import 'jquery.atwho';
@import 'devise';
@import 'search';
@import 'frame';

* {
	font-family: Raleway, Helvetica, Arial, sans-serif;
}

body {
	background: #F5F5F5;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p {
	line-height: 140%;
}

.center {
	text-align: center;
}

h1 {
	font-weight: 500;
}