.blog.container {
	@include outer-container;

	.blog {
		@include span-columns(12);

		& > h1 {
			font-weight: 400;
			margin-bottom: 0;
		}

		& > p {
			img {
				height: 15px;
				vertical-align: middle;
				margin-right: 0.1em;
				margin-left: 0.5em;
			}

			a {
				text-decoration: none;
				vertical-align: middle;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		h2 {
			font-size: 1.1em;
			font-weight: 200;
			margin-top: 1em;
		}

		li.activity-link {
			@include span-columns(4);
			@include omega(3n);
		}
	}

	.comments {
		@include span-columns(10);
		@include shift(1);

		h1 {
			font-size: 1.2em;
			font-weight: 500;
			margin-top: 2em;
			color: #666;
			border-bottom: 1px solid darken($gray, 10%);
			padding-bottom: 0.4em;
		}

		form {
			margin: 1em 0;
			border-bottom: 1px solid darken($gray, 10%);
    		padding-bottom: 0.8em;

    		&.expanded textarea {
				height: 70px;
			}

			textarea {
				border-radius: $radius;
				border: 1px solid $gray;
				width: 100%;
				outline: none;
				padding: 0.5em 1em;
				resize: vertical;
				height: 37px;
			}

			&.expanded input[type="submit"] {
				display: inline-block;
			}

			input[type="submit"] {
				background: $blue;
				border-color: $blue;
				color: white;
				margin-top: 0.5em;
				display: none;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			margin-bottom: 3em;

			li {
				padding: 0.4em 0;
				margin-bottom: 1em;
				border-bottom: 1px solid darken($gray, 10%);
			}

			img,
			div {
				display: inline-block;
				vertical-align: top;
			}

			div {
				width: 90%;
			}

			img {
				height: 50px;
				border-radius: $radius;
				margin-right: 0.5em;
			}

			h2 {
				margin: 0;
				font-size: 1.1em;
				font-weight: 600;
			}

			p {
				margin: 0.5em 0;
				font-size: 0.95em;
			}

			time {
				margin-left: 0.5em;
				font-weight: 100;
				font-size: 0.8em;
				color: darken($gray, 10%);
				vertical-align: middle;
			}

			footer {
				padding-bottom: 0.4em;
			}
		}
	}
}
