.btn, 
button.btn {
	background: transparent;
	border: 2px solid;
	border-radius: $radius;
	font-size: 20px;
	padding: 0.2em 1em;
	color: $blue;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	vertical-align: middle;
	
	&.on,
	&:hover {
		color: white;
		background: $blue;
		border-color: $blue;
		text-decoration: none;
	}

	&.notifications:hover {
		border-color: $yellow;
		background: white;
	}

	&.small {
		font-size: 16px;
	}

	&.red {
		color: $red;

		&:hover {
			color: white;
			border-color: $red;
			background: $red;
		}
	}

	&.yellow {
		color: $yellow;

		&:hover {
			color: white;
			border-color: $yellow;
			background: $yellow;
		}
	}

	&.green {
		color: $green;

		&:hover {
			color: white;
			border-color: $green;
			background: $green;
		}
	}
}

