.devise {
	background: url(asset-path('splash'));
	background-repeat: no-repeat;
	background-size: cover;

  .login-flash {
    top: 0!important;
  }

	.container {
		@include outer-container;
		margin-top: 6em;

		.promo {
			@include span-columns(8);
			color: white;
      text-align: center;
			h1 {
				font-size: 2.5em;
				font-weight: 500;
			}

			p {
				font-size: 1.3em;
				font-weight: 100;
			}
		}

		.forms {
			@include span-columns(4);
			color: #333;
			background: white;
			padding: 0 1em 1em;
			border-radius: 7px;

			h2 {
				font-weight: 500;
			}

			label {
				font-size: 1em;
			}

			input[type="email"],
			input[type="password"] {
				width: 100%;
				margin-bottom: 1.5em;
				border-radius: $radius;
				outline: none;
				border: 1px solid #aaa;
				padding: 0.5em;
			}

			input[type="submit"] {
				margin-top: 1em;
			}
		}

		.links {
			margin-top: 1em;
			color: white;
		}
	}
}