.home.feeds {
	@include outer-container;
	margin-top: 1.5em;

	.activity-feed {
		@include span-columns(9);
		margin-top: 0;

		div > li {
			@include span-columns(6);
			@include omega(2n);
		}
	}

	.sidebar {
		@include span-columns(3);

		.blogs {
			background: white;
			padding: 1em;
			border-radius: $radius;
			box-shadow: 0 0 4px rgba(220, 220, 220, 0.5);

			span {
				background: $red;
				color: white;
				padding: 0.1em 0.2em;
				border-radius: 7px;
				margin-left: 0.2em;
			}

			header {
    			border-bottom: 3px solid;

				h1 {
					margin-top: 0;
					margin-bottom: 0.1em;
					font-size: 1.3em;
					display: inline-block;
					font-weight: 500;
				}

				a {
					float: right;
					font-size: 0.8em;
				}
			}

			ul {
				padding: 0;
				list-style: none;

				li {
					margin-bottom: 0.5em;
				}
			}
		}
	}
}

.discover.feeds {
	@include outer-container;

	h1.section {
		font-size: 1.5em;

		a {
			font-size: 12.8px;
		}
	}

	h1 {
		font-weight: 400;
		font-size: 1.2em;
	}

	.posts.fun {
		@include span-columns(9);

		.activity-feed > li {
			@include span-columns(6);
			@include omega(2n);
		}
	}

	.others {
		@include span-columns(3);
	}

	.tags, .users {
		@include span-columns(12);
	}


	.blogs {
		@include span-columns(12);
	}

	.tags ul {
		list-style: none;
		padding: 0;

		li {
			background: white;
			margin-bottom: 0.3em;
			font-size: 1.2em;
			display: inline-block;
			padding: 0.3em 0.5em;
			margin-right: 0.3em;
			border-radius: $radius;

			&:hover {
				opacity: 0.8;
			}

			a {
				display: block;
				color: white;
				font-weight: 200;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}


	.blogs.fun ul {
		width: 100%;
		list-style: none;
		padding: 0;

		li {
			@include span-columns(12);
			background: white;
			border-radius: $radius;
			margin-bottom: 1em;
			text-align: center;
			padding: 1em;
		}

		.status {
			display: none;
		}

		.title {
			font-size: 1em;
			margin-bottom: 1em;

			& > span {
				display: block;
				margin-top: 0.4em;
			}
		}

		.info {
			margin-bottom: 1em;
		}

		img {
			height: 18px;
			line-height: 40px;
			vertical-align: top;
		}
	}

}

.discover.feeds.multiply {
	.posts {
		@include span-columns(12);

		.activity-feed > li.activity-link {
			@include span-columns(3);
			@include omega(4n);
		}
	}

	.blogs ul {
		width: 100%;
		list-style: none;
		padding: 0;

		li {
			@include span-columns(3);
			@include omega(4n);
			background: white;
			border-radius: $radius;
			margin-bottom: 1em;
			text-align: center;
			padding: 1em;
		}

		.status {
			display: none;
		}

		.title {
			font-size: 1.3em;
			margin-bottom: 1em;

			& > span {
				display: block;
			}

			img {
				vertical-align: middle;
			}
		}

		.info {
			margin-bottom: 1em;
		}

		img {
			height: 18px;
			line-height: 40px;
			vertical-align: top;
		}
	}
}

.feeds.discover.users {
	.bro {
		@include outer-container;

		.user-pill {
			@include span-columns(3);
			@include omega(4n);
		}
	}
}
