.flash {
	color: white;
	cursor: pointer;
	padding: 0.3em;
	font-size: 16px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 999;

	&.notice {
		background: $yellow;
	}

	&.alert {
		background: $red;
	}

	&.success {
		background: $green;
	}
}