.edit-profile form {
	text-align: left;
	
	label > ul {
		color: red;
	}

	.field_with_errors > * {
		border-color: red!important;
	}

	label {
		display: block;
		margin-bottom: 2em;
	} 

	img {
		vertical-align: middle;
		margin-right: 1em;
	}

	img + input[type="file"] {
		vertical-align: middle;
	}

	input[type="text"],
	input[type="password"],
	textarea {
		border: none;
		border-bottom: 1px solid #aaa;
		box-sizing: border-box;
		display: block;
		margin-top: 0.5em;
		outline: none;
		padding: 0.3em 0.5em;
		width: 100%;
	}

	textarea {
		border: 1px solid #aaa;
		box-sizing: border-box;
		resize: vertical;
	}

	input[type="submit"] {
		width: 50%;
		display: inline-block;
	}

	a.cancel {
		width: 49%;
		color: $red;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
	}
}