.visit_frame {
	overflow: hidden;

	header#top {
		border-bottom: 1px solid rgba(220,220,220,0.5);
		background: #F5F5F5;
	}

	iframe {
		width: 100%;
		height: 90vh;
	}

	.btn.liked {
		color: white;
		border-color: $red;
		background: $red;
	}

	.tools {
		margin-top: 0.5em;
	}

}