header#top {
	background: white;
	box-shadow: 0 3px 4px rgba(220, 220, 220, 0.5);
	padding: 15px 40px;

	.logo {
		display: inline-block;
		vertical-align: middle;

		img {
			height: 40px;
		}
	}

	.search {
		display: inline-block;
		vertical-align: middle;
		padding: 0 2.5em;

		input {
			border: none;
			border-bottom: 1px solid #B6B6B6;
			font-size: 1.2em;
			font-weight: 200;
			outline: none;
			width: 400px;
			padding-left: 1em;
		}
	}

	.tools {
		display: inline-block;
		vertical-align: middle;
		float: right;

		& > * {
			vertical-align: middle;
			margin-left: 10px;
		}

		.share {
			font-size: 18px;
		}

		.discover {
			font-size: 18px;
			text-decoration: none;
			text-align: center;
			color: white;
			background: $yellow;
			border-radius: $radius;
			padding: 0.3em 1em;
			border: 2px solid $yellow;

			&:hover {
				background: darken($yellow, 10%);
			}

			& > * {
				vertical-align: middle;
			}

			& img {
				height: 18px;
				margin-right: 0.2em;
			}
		}

		.btn.notifications {
			border-radius: 50%;
			width: 40px;
			height: 40px;
			padding: 0;
			color: $gray;
			position: relative;

			&.has {
				border-color: $yellow;
			}

			img {
				height: 23px;
			}

			span {
				background: $red;
				border-radius: 50%;
				height: 20px;
				width: 20px;
				display: block;
				line-height: 20px;
				color: white;
				position: absolute;
				bottom: -6px;
				font-size: 12px;
				right: -6px;
			}
		}

		ul.notifications {
			display: none;
			background: white;
			box-shadow: 0 4px 4px rgba(220, 220, 220, 0.7);
			font-size: 0.9em;
			list-style: none;
			margin-bottom: 1em;
			padding: 1em;
			position: absolute;
			right: 20px;
			text-align: left;
			top: 60px;
			width: 400px;
			z-index: 1;

			li:first-child {
				border-top: none;
				padding-top: 0;
			}

			li {
				border-top: 1px solid #aaa;
				padding-top: 1em;
			}

			time {
				color: #aaa;
			}
		}

		.profile {
			display: inline-block;
			cursor: pointer;

			img {
				border-radius: $radius;
				height: 50px;
			}
		}

		.profile-menu {
			background: white;
			list-style: none;
			margin-top: 0;
			padding: 1em;
			position: absolute;
			right: 8px;
			width: 150px;
			box-shadow: 0 4px 4px rgba(220, 220, 220, 0.7);
			z-index: 9;

			li {
				padding-top: 1em;
			}
		}
	}
}
