.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(220, 220, 220, 0.5);
	z-index: 99;
	display: none;
	cursor: pointer;
}

.modal {
	display: none;
	padding: 1em;
	border-radius: $radius;

	background: white;
	left: 30%;
	position: absolute;
	right: 30%;
	top: 25%;
	width: 40%;
	z-index: 100;

	&.loading {
		input {
			width: 90%;
		}

		.spinner {
			transition-delay: 0;
			opacity: 1;
			visibility: visible;
		}
	}

	form {
		input {
			border: none;
			border-bottom: 1px solid #B6B6B6;
			font-size: 1.3em;
			font-weight: 200;
			outline: none;
			width: 100%;
			transition: width 0.5s ease;
		}

		.spinner {
			transition: opacity 0.5s ease;
			transition-delay: 0.5s;
			opacity: 0;
			visibility: hidden;
			vertical-align: middle;
			position: absolute;
	    	margin-left: 2%;
		}

		.preview {
			margin-top: 1em;
			display: none;

			& > img {
				margin-right: 1em;
				width: 30%;
			}

			.content {
				width: 66%;
			}

			img,
			div {
				display: inline-block;
				vertical-align: top;
				max-height: 200px;
			}

			h1 {
				margin: 0;
				font-size: 1.2em;
			}

			p {
				font-size: 0.9em;
				margin-top: 0.5em;
			}

			.options {
				display: block;
				text-align: right;
				margin-top: 1em;

				div.left {
					@include span-columns(7);
					line-height: 29px;

					input[type="text"] {
						@include span-columns(7);
						font-size: 1em;
					}

					label {
						@include span-columns(5);
						vertical-align: middle;

						input {
							width: auto;
							margin-left: 0.2em;
						}
					}
				}

				div.right {
					@include span-columns(5);
				}
			}
		}
	}

	.success {
		display: none;

		h1 {
			font-weight: 200;
			text-align: center;
		}
	}
}
