.post {
	@include outer-container;
	margin-top: 2em;

	.user {
		@include span-columns(1);

		img {
			border-radius: $radius;
			width: 100%;
		}
	}

	& > header {
		@include span-columns(8);

		color: white;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: $radius;
		padding: 1em;
		height: 300px;
		box-shadow: inset 0 120px 120px rgba(0, 0, 0, 0.6),
					inset 0 -30px 30px rgba(0, 0, 0, 0.6);

		position: relative;

		&.collapsed {
			background: $blue;
			box-shadow: none;
			height: 150px;
		}

		a {
			color: white;
		}

		div, 
		time {
			display: inline-block;
		}

		time {
			float: right;
		}

		h1 {
			font-size: 1.3em;
			font-weight: 100;

			a {
				color: white;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.actions {
			position: absolute;
			bottom: -0.5em;
			right: 15px;

			li {
				list-style: none;
			}

			a {
				text-decoration: none;
				color: white;

				&.like span:before {
					content: '';
					background: url(image-path('like.png'));
					width: 16px;
					height: 16px;
					display: inline-block;
					background-size: contain;
					background-repeat: no-repeat;
					vertical-align: middle;
					margin-right: 0.5em;
				}

				&.like span:hover:before,
				&.like.liked span:before {
					background-image: url(image-path('like-full.png'));
				}
			}

			img {
				height: 16px;
				margin-right: 5px;
				vertical-align: middle;
			}
		}

	}

	.comments {
		@include span-columns(8);
		@include shift(1);

		h1 {
			font-size: 1.2em;
			font-weight: 500;
			margin-top: 2em;
			color: #666;
			border-bottom: 1px solid darken($gray, 10%);
			padding-bottom: 0.4em;
		}

		form {
			margin: 1em 0;
			border-bottom: 1px solid darken($gray, 10%);
    		padding-bottom: 0.8em;

    		&.expanded textarea {
				height: 70px;
			}

			textarea {
				border-radius: $radius;
				border: 1px solid $gray;
				width: 100%;
				outline: none;
				padding: 0.5em 1em;
				resize: vertical;
				height: 37px;
			}

			&.expanded input[type="submit"] {
				display: inline-block;
			}

			input[type="submit"] {
				background: $blue;
				border-color: $blue;
				color: white;
				margin-top: 0.5em;
				display: none;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			margin-bottom: 3em;

			li {
				padding: 0.4em 0;
				margin-bottom: 1em;
				border-bottom: 1px solid darken($gray, 10%);
			}

			img, 
			div {
				display: inline-block;
				vertical-align: top;
			}

			div {
				width: 90%;
			}

			img {
				height: 50px;
				border-radius: $radius;
				margin-right: 0.5em;
			}

			h2 {
				margin: 0;
				font-size: 1.1em;
				font-weight: 600;
			}

			p {
				margin: 0.5em 0;
				font-size: 0.95em;
			}

			time {
				margin-left: 0.5em;
				font-weight: 100;
				font-size: 0.8em;
				color: darken($gray, 10%);
				vertical-align: middle;
			}

			footer {
				padding-bottom: 0.4em;
			}
		}
	}
}

.sidebar {
	@include span-columns(3);
	@include omega();

	.blog {
		background: #fff;
		border-radius: $radius;
	    padding: 1em;
	    box-shadow: 0 0 4px rgba(220, 220, 220, 0.5);
	    text-align: center;

		h1 {
		    font-size: 1.4em;
		    font-weight: 500;
		    margin-top: 0;
		}

		.status {
		    font-size: 0.9em;
		    text-align: left;
		}

		a {
			margin-top: 0.5em;
			display: inline-block;
		}
	}

	footer {
		font-size: 0.9em;
		color: darken($gray, 10%);
		text-align: center;
	}
}


