.edit-profile {
	background: white;
	box-shadow: 0 0 4px rgba(220, 220, 220, 0.5);
	width: 500px;
	padding: 1.5em;
	margin: 3em auto;
	text-align: center;

	img {
		width: 75px;
	}
}

.user-profile {
	@include outer-container;
	margin-top: 1.5em;

	& > .info {
		@include span-columns(3);
		background: white;
		border-radius: $radius;
		box-shadow: 0 0 4px rgba(220, 220, 220, 0.5);
		padding: 1em;
		text-align: center;

		img.profile-img {
			width: 100%;
			border-radius: $radius;
		}

		& > * {
			text-align: left;
		}

		h1 {
			margin-top: 1em;
			margin-bottom: 0;
			font-weight: 600;
			font-size: 1.3em;
		}

		h2 {
			font-size: 1em;
			font-weight: 100;
			margin-top: 0;
		}

		p {
			margin-top: 0.5em;
			font-size: 0.95em;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				margin-bottom: 1em;

				img {
					height: 15px;
				}
			}
		}

		.follow {
			margin-top: 2em;
			text-align: center;
		}
	}

	.feed {
		@include span-columns(9);

		.nav {
			margin: 0;
			background: white;
			padding: 0.5em 1em 0.7em 1em;
			border-radius: $radius;
			box-shadow: 0 0 4px rgba(220, 220, 220, 0.5);
			text-align: center;

			li {
				display: inline-block;
				margin-right: 1em;
				font-size: 1.3em;
				font-weight: 100;

				a {
					text-decoration: none;
					font-size: 0.9em;

					&.current,
					&:hover {
						border-bottom: 1px solid;
					}
				}
			}

			li.edit {
				float: right;
			}
		}

		.friends .friend {
			@include span-columns(6);
			@include omega(2n);

			margin-bottom: 1em;

			.info {
				width: 67.88078%;
			}
		}

		li.activity-link {
			@include span-columns(6);
			@include omega(2n);
		}

	}
}

.blogs-feed {
	padding: 0;
	@include outer-container;

	li {
		@include span-columns(4);
		@include omega(3n);

		position: relative;
		text-align: center;
		background: white;
		border-radius: $radius;
		list-style: none;
		padding: 1em;
		margin-bottom: 1em;

		.title .status {
			background: #ff6764;
			padding: 12px 0;
			border-radius: 50%;
			color: white;
			margin-left: 1em;
			height: 45px;
			display: block;
			width: 45px;
			position: absolute;
			top: -0.5em;
			right: -1em;
		}

		.title > span {
			display: block;
			margin-top: 1em;

			img {
				width: 16px;
			}
		}

		.actions {
			margin-top: 1em;
		}
	}

}
