.search-results {
	@include outer-container;

	h1 {
		margin-bottom: 0.3em;
	}

	h2 {
		font-weight: 400;
		margin-top: 0;
	}

	.posts {
		@include span-columns(9);

		.activity-link {
			@include span-columns(6);
			@include omega(2n);
		}

		.activity-link.expanded {
			max-height: 200px
		}
	}

	.sidebar {
		@include span-columns(3);

		.user-pill {
			margin-bottom: 1em;
		}

		.user-pill .image img {
			width: auto;
		}

		.blogs-feed {
			text-align: center;

			li {
				width: 100%;
			}

			.title {
				font-size: 17.6px!important;
				margin-bottom: 1em;
				width: 100%;
			}

			.actions {
				display: block;
				float: none;
				text-align: center;
				margin-top: 1em;
				width: 100%;
			}
		}
	}
}
