.user-pill {
	@include outer-container;

	.image img {
		@include span-columns(4);

		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	    height: 125px;
	}

	.info {
		@include span-columns(8);

		background: white;
	    padding-left: 1em;
	    height: 125px;
	    border-top-right-radius: $radius;
	    border-bottom-right-radius: $radius;

		h1 {
		    margin-top: 10px;
		    font-size: 24px;
		    margin-bottom: 0;
		    font-weight: 400;
		}
	}


	footer {
		margin-top: 30px;

		.number {
			text-align: center;
			width: 70px;
			display: inline-block;

			p {
				margin: 0;
				font-size: 30px;
				font-weight: 400;
			}
		}
	}

	&.mini {
		margin-bottom: 1em;

		img {
			height: 35px;
			width: 35px;
		}

		p {
			display: none;
		}

		.info div {
			display: none;
		}

		.info {
			width: 86%;
			height: 35px;
		}

		h1 {
			font-size: 16px;
			line-height: 15px;
		}
	}

	&.vertical {
		text-align: center;
		margin-bottom: 1em;

		.image {
			width: 100%;
			background: white;
			padding-top: 1em;
			border-top-left-radius: $radius;
			border-top-right-radius: $radius;

			img {
				float: none;
				width: 125px;
				display: inline-block;
			}
		}

		.info {
			width: 100%;
			margin: 0;
			padding: 0;
			border-radius: 0;
			border-bottom-left-radius: $radius;
			border-bottom-right-radius: $radius;
		}
	}
}
