<!DOCTYPE html>
<html>
<head>
  <title>Blogular</title>
  <link rel="icon" type="image/png" href="<%= image_path 'favicon.png' %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/header' %>

<% unless flash.empty? %>
<div class="flash <%= 'notice' if notice %> <%= 'alert' if alert %> <%= 'success' if flash[:success] %>">
	<p><%= notice %></p>
	<p><%= alert %></p>
	<p><%= flash[:success] %></p>
</div>
<% end %>

<%= yield %>

<%= render 'partials/modals' %>

</body>
</html>
