<!DOCTYPE html>
<html>
<head>
  <title>Blogular</title>
  <link rel="icon" type="image/png" href="<%= image_path 'favicon.png' %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="devise">

<% unless flash.empty? %>
<div class="login-flash flash <%= 'notice' if notice %> <%= 'alert' if alert %> <%= 'success' if flash[:success] %>">
	<p><%= alert %></p>
	<p><%= flash[:success] %></p>
	<p><%= notice %></p>
</div>
<% end %>

<div class="container">
	<div class="promo">
    <center><%= image_tag 'logo-login.png', height: '300px' %></center>
		<h1>Welcome to Blogular</h1>
		<p>All your favorite blogs in one place. Share your favorite posts with your friends and discover new blogs to follow.</p>
	</div>

	<div class="forms">
		<%= yield %>
	</div>
</div>

</body>
</html>
